#dashboard {
    display: grid;
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 15vh 85vh;

    grid-template-areas: 
    "sidebar header"
    "sidebar content";
}

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    font-family: 'Custom';
}

#sidebar {
    grid-area: sidebar;
}

#header {
    grid-area: header;
}

#content {
    grid-area: content;
}

#sidebar {
    background-color: #06b6d4;
}

/*.dashboard > p {
        font-size: 28px;
        color: white;
        font-weight: 700;